<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Laxy</title>
</head>
<body>
<div layout:fragment="content">
    <div class="layout-container">
        <aside class="sidebar">
            <a class="logo" th:href="@{~/dashboard}">Laxy</a>
            <nav class="sidebar-nav">
                <a th:href="@{~/dashboard}">Dashboard</a>
                <a th:href="@{~/quizzes}">Create Quiz</a>
                <button id="themeToggle">Toggle Theme</button>
                <a class="signout" th:href="@{~/signout}">Sign Out</a>
            </nav>
        </aside>
        <div class="main-content" layout:fragment="nav-content"></div>
    </div>

</div>
</body>
</html>
