<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Sign Up</title>
</head>
<body>

<div layout:fragment="content">
    <div class="form-container">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            <input name="username" type="text" placeholder="Username" required>
            <input name="email" type="email" placeholder="Email" required>
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p><a href="/signin">Already have an account? Sign In</a></p>
    </div>
</div>
</body>
</html>
